<div class="col-lg-12 column">
	<div class="card card-recipe large-card mx-3">
		<img src="{{ recipe.image }}" class="card-img img-recipe" alt="not">
		<div class="card-body d-flex flex-column justify-content-center align-items-center pb-5">
			<p class="card-secondary-title time m-3">Cuisson :
				{{ recipe.cooking_time }}
				min</p>
			<h3 class="ingredient mt-4 mb-3">Ingrédients</h3>
			<ul class="ps-0 text-center">
				{% for ingredient in ingredients %}
					<li>{{ ingredient.quantity }}
						{{ ingredient.name }}</li>
				{% endfor %}
			</ul>
			<div>
				<h3 class="text-center mt-4 mb-3">Recette</h3>
				<p class="text-left description p-3">{{ recipe.description }}</p>
			</div>
			<div id="player" class="mt-3"></div>
			<p id="timer">{{recipe.cooking_time}}</p>
			<input type="hidden" value="{{ playlistId }}" id="id">
			<button class="btn btn-danger rounded-circle ps-3" id='player-button'>
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewbox="0 0 16 16">
					<path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
				</svg>
			</button>
			<div class="m-3 play">Play!</div>
		</div>
	</div>
</div>
